# AWS
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=<your-12-digit-aws-account-id>
RAW_BUCKET=healthflow-raw-dev-<aws-account-id>
PROCESSED_BUCKET=healthflow-processed-dev-<aws-account-id>
CURATED_BUCKET=healthflow-curated-dev-<aws-account-id>
LAMBDA_FUNCTION_NAME=healthflow-ingestion-trigger-dev
GLUE_DATABASE=healthflow_dev
PROJECT_NAME=healthflow
ENVIRONMENT=dev

# GCP / BigQuery
GCP_PROJECT=<your-gcp-project-id>
BQ_DATASET=healthflow_dev
GOOGLE_APPLICATION_CREDENTIALS=/path/to/gcp-key.json
